{% extends "layout.html" %}

{% block title %}Регистрация — BlackAnts{% endblock %}

{% block content %}
<h2>Регистрация</h2>
<form method="POST" enctype="multipart/form-data">
  <input class="form-control mb-2" name="first_name" placeholder="Имя" required>
  <input class="form-control mb-2" name="last_name" placeholder="Фамилия" required>
  <input class="form-control mb-2" name="age" type="number" placeholder="Возраст">
  <select class="form-select mb-2" name="gender">
    <option>мужской</option>
    <option>женский</option>
  </select>
  <select class="form-select mb-2" name="role">
    <option>работодатель</option>
    <option>соискатель</option>
  </select>
  <input class="form-control mb-2" name="location" placeholder="Город">
  <input class="form-control mb-2" name="salary" placeholder="Желаемая зарплата">
  <input class="form-control mb-2" name="email" placeholder="Email" required>
  <input class="form-control mb-2" type="password" name="password" placeholder="Пароль" required>
  <input class="form-control mb-2" type="file" name="photo">
  <button class="btn btn-primary w-100">Зарегистрироваться</button>
</form>
{% endblock %}
